# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[bltouch]
sensor_pin: ^PC14 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
control_pin: PA1
x_offset: 50
y_offset: 12.5
#z_offset: 3.0
#speed:

[safe_z_home]
home_xy_position: 60,97.5 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm
z_hop_speed: 100

[bed_mesh]
algorithm: bicubic
speed: 100
horizontal_move_z: 10
mesh_min: 50, 12.5
mesh_max: 175, 175
probe_count: 5, 5

[screws_tilt_adjust]
screw1: 0, 5
screw1_name: Back Right
screw2: 145,5
screw2_name: Back Left
screw3: 0,175
screw3_name: Front Right
screw4: 145,175
screw4_name: Front Left
horizontal_move_z: 10
speed: 100
screw_thread: CW-M4

[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 210
homing_speed: 100

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 210
homing_speed: 100

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 300
position_min: -10

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[verify_heater extruder]
max_error: 120
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
check_gain_time: 50
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
hysteresis: 5
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

[thermistor ATC Semitec 104NT-4-R025H42G]
temperature1: 25
resistance1: 100000
temperature2: 160
resistance2: 1074
temperature3: 300
resistance3: 82.78

[extruder]
step_pin: PB3
dir_pin: PB4
enable_pin: !PD1
microsteps: 16
gear_ratio: 50:17
rotation_distance: 22.83716
max_extrude_only_distance: 100
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -50
max_temp: 300

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.650
hold_current: 0.500
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan controller_fan]
pin: PC7
heater: heater_bed
heater_temp: 40.0

[heater_fan heatbreak_cooling_fan]
pin: PB15
heater: extruder
heater_temp: 50

[fan]
pin: PC6
kick_start_time: 0.8
max_power: 1.0
cycle_time: 0.3333

[output_pin Shutdown_Relay]
pin: PC13
value: 1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3E0021000550414235363020-if00
# serial: /dev/ttyAMA0
# restart_method: command

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 3000
max_z_velocity: 10
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

[axis_twist_compensation]
speed: 80
horizontal_move_z: 10
calibrate_start_x: 50
calibrate_end_x: 175
calibrate_y: 110
calibrate_start_y: 12.5
calibrate_end_y: 207.5
calibrate_x: 110

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.551
#*#
#*# [axis_twist_compensation]
#*# z_compensations = 0.012500, -0.032500, 0.020000
#*# compensation_start_x = 50.0
#*# compensation_end_x = 175.0
#*# zy_compensations = -0.012500, 0.007500, 0.005000
#*# compensation_start_y = 12.5
#*# compensation_end_y = 207.5
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.122186, 0.094686, 0.068436, 0.034686, 0.030436
#*# 	0.078019, 0.054269, 0.016769, -0.005731, -0.008731
#*# 	0.066350, 0.036350, 0.015100, -0.007400, -0.005400
#*# 	0.075696, 0.046946, 0.011946, -0.011804, -0.003554
#*# 	0.119654, 0.058404, 0.022154, -0.010346, -0.003346
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 175.0
#*# min_y = 12.5
#*# max_y = 174.98
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 45.080
#*# pid_ki = 5.565
#*# pid_kd = 91.287
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.824
#*# pid_ki = 1.411
#*# pid_kd = 939.427
#*#
#*# [bed_mesh GlassBed]
#*# version = 1
#*# points =
#*# 	0.122186, 0.094686, 0.068436, 0.034686, 0.030436
#*# 	0.078019, 0.054269, 0.016769, -0.005731, -0.008731
#*# 	0.066350, 0.036350, 0.015100, -0.007400, -0.005400
#*# 	0.075696, 0.046946, 0.011946, -0.011804, -0.003554
#*# 	0.119654, 0.058404, 0.022154, -0.010346, -0.003346
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 175.0
#*# min_y = 12.5
#*# max_y = 174.98
